*.xcodeproj
*.xcworkspace
.DS_Store
.build/
DerivedData/
.tuist-build/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
vendor/
.bundle/

# fastlane runtime logs
ios/fastlane/report.xml
